.button {
  padding: 12px 40px;
  border: none;
  border-radius: 22px;
  width: fit-content;
  color: white;
  background: #79A6D2;
  box-shadow: inset -2px -2px 3px #4B7FB1, inset 2px 2px 3px rgba(204, 221, 237, 0.72);
  cursor: pointer;

  &:hover {}
}