.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    max-width: 348px;
    position: relative;
    // background-color: red;

    &-messages {
        max-width: 1160px;
        flex-direction: row;
        padding: 0;
        height: 100%;
    }

    &-b {
      max-width: 680px;
    }
}
