.navbar {
  position: absolute;
  top: calc(24px + 68px);
  padding: 38px;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--background-color);
  flex-grow: 2;
  height: 100%;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform ease 0.28s;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    border-radius: 2px;
    background-color: var(--text-color);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.active {
    transform: translateX(0%);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    //border: 1px solid red;

    &-switch {
      padding-top: 12px;
    }
  }

  &__subitem {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
