@import "functions";
@import "mixins";
@import "fonts";
@import "variables";
@import "blocks";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body{
  height: 100%
}

#root{
  height: 100%
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo{
  width: 200px;
  margin-bottom: 40px;
}

.form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}

.input{
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
}
