@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$url}.woff2') format('woff2'),
         url('../assets/fonts/#{$url}.woff') format('woff'),
         url('../assets/fonts/#{$url}.ttf') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}